<div class="container">
  <section class="intro">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="h3">Voici un blog super</h2>
          <p class="text-big">Admirez et détendez vous en lisant ces <strong>merveilleux</strong> articles.</p>
        </div>
      </div>
  </section>
  
  <div class="row">
    <% @posts.each do |post| %>
    <div class="text article col-lg-7">
      <div class="content">
        <h2 class="h4"><%= post.title %></h2>
        <p><%= truncate(post.content, length: 300) %></p>
        <div class="container-login100-form-btn col-lg-4">
          <button class="login100-form-btn">
            <%= link_to 'voir la suite', post_path(post.id) %>
          </button>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  
</div>
