<div class="container">
    <div class="add-comment">
        <header>
            <h2 class="h6">Editez votre article</h2>
        </header>
        <%= form_for(@post, url: post_path(@post.id)) do |f| %>
            titre 
        <div class="form-group col-md-6 form-control">
        <%= f.text_field :title %>
        </div>
            Contenu
        <div class="form-group col-md-6 form-control">
        <%= f.text_area :content %>
        </div>
        <%= f.submit %>
        <% end %>
    </div>
</div>


