<div class="container-fluid">
<%= form_for(@post, url: post_path(@post.id)) do |f| %>
    <label>
        titre 
    </label>
    <%= f.text_field :title %>
    <label>
        Contenu
    </label>
    <%= f.text_area :content %>
    <%= f.submit %>
<% end %>
</div>