<div class="container">
    <header> 
        <p class="text-big">Tous nos derniers posts ajoutés,</p>
    </header>
    <% @posts.each do | post | %>
    <div class="link_blog">
        <h6><%= post.title %></h6>
        <p>by</p>
        <%= link_to 'voir le poste', post_path(post.id) %>
    </div>
<% end %>

</div>

