/* GENERAL */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  margin-top: 120px;
}
a {
  color: #999;
  text-decoration: none;
}
a:focus, a:hover {
  color: #6675df;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
.lead {
  font-size: 1.3rem;
  font-weight: 300;
}
.text-bold {
  font-weight: 700;
}
.text-small {
  font-size: 0.9rem;
}
strong {
  font-weight: 700;
}
a,
i,
span {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
ul {
  margin: 0;
  padding: 0;
}
section {
  padding: 100px 0;
  overflow-x: hidden;
}
.text-big {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  color: #111;
}

/* navbar */
.navbar {
  padding: 0.5rem 1rem;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 9998;
  border-bottom: 1px solid #ddd;
}
.name-nav{
  color : #6675df;
}

/* last posts */
section.latest-posts header {
  margin-bottom: 50px;
}
.post-meta {
  margin: 10px 0;
  font-size: 0.8em;
}
.post-meta .date {
  text-transform: uppercase;
  font-weight: 400;
}
.post-meta .date::after {
  display: none;
}
.post p:not(.lead) {
  font-weight: 400;
  color: #777;
  font-size: 0.95em;
}
.post a {
  text-decoration: none;
}
.post a:hover, .post a:focus {
  text-decoration: none;
}
.post h3 {
  line-height: 1.1em;
  color: #6675df;
  margin-bottom: 1rem;
}
div.content{
  margin-bottom: 100px;
}
.blog-delete a{
  margin-left: 30px;
}


/* Latest bloggeurs */
main,
aside {
  padding: 50px 0 100px;
}
.widget {
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid #eee;
}
.widget header {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .post {
    margin-bottom: 40px;
  }
  .post:last-of-type {
    margin-bottom: 0;
  }
}
main.posts-listing {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}
main.posts-listing .post {
  margin-bottom: 50px;
}
main.posts-listing .post-footer {
  font-size: 1em;
}
.widget.latest-posts .item {
  margin-bottom: 20px;
}
.link_blog{
  margin-top:50px;
}
